ADMIN_SECRET_PIN=
BLOB_READ_WRITE_TOKEN=
DATABASE_URL=
GEMINI_API_KEY=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_SSL=
MYSQL_SSL_REJECT_UNAUTHORIZED=
MYSQL_USER=
R2_ACCESS_KEY_ID=
R2_ACCOUNT_ID=
R2_BUCKET_NAME=
R2_PUBLIC_DOMAIN=
R2_SECRET_ACCESS_KEY=